[submodule "submodules/chrome-template"]
	path = submodules/chrome-template
	url = https://github.com/rickwillcox/react-typescript-chrome-extension-template
[submodule "submodules/SimpleWebAuthn"]
	path = submodules/SimpleWebAuthn
	url = https://github.com/MasterKale/SimpleWebAuthn.git
